.translator {
        display: flex;
        background-color: #7BD3EA;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 15px;
        box-sizing: border-box;
        width: 750px;
        font-size: small;
        height: 200px;
        padding: 20px;
        margin-bottom: 20px;

        @media screen and (max-width: 720px) {
            width: 300px;
            height: 150px;
            padding: 10px;
            font-size: x-small;
        }
        .imageSection{
            width: 210px;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .outerImageDiv{
                height: 160px;
                width: 160px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @media screen and (max-width:720px) {
                    height: 130px;
                    width: 130px;
                }
                .uploadedimage {
                        box-sizing: border-box;
                        cursor: pointer;
                        padding: 0px;
                        text-decoration: none;
                        height: 160px;
                        width: 160px;
                        object-fit: cover;
                        border: 0px solid;
                        outline: hidden;
                        border-radius: 10px;
                
                        @media screen and (max-width:720px) {
                            height: 130px;
                            width: 130px;
                        }
                    }:active {
                        height: 150px;
                        width: 150px;
                        @media screen and (max-width:720px) {
                            height: 120px;
                            width: 120px;
                        }
                    }
            }
            
            .cancelButton{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 50px;
                border: 0px solid;
                @media screen and (max-width:720px) {
                        height: 100%;
                        width: 30px;
                }
                .cancel{

                    cursor: pointer;
                    border: 0px solid;
                    padding: 0px;
                    margin: 0px;
                    height: 50px;
                    width: 50px;
                    @media screen and (max-width:720px) {
                        height: 30px;
                        width: 30px;
                    }
                }:active{
                    height: 40px;
                    width: 40px;
                    @media screen and (max-width:720px){
                        height: 20px;
                        width: 20px;
                    }
                }
            }
            
        }
                .result {
                    font-size: large;
                    font-weight: 600;
                    background-color: #4CB9E7;
                    box-sizing: border-box;
                    padding: 20px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 500px;
                    border-radius: 10px;
                    height: 100%;
        
                    @media screen and (max-width:720px) {
                        font-size: small;
                        font-weight: 500;
                        width: 140px;
                    }
                }
        
    }